@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background: linear-gradient(180deg, #ecf39e 0%, #ffffff 100%);
}

.image-container-grid {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  column-gap: 8px;
}

.item-large {
  grid-column: span 2;
}

.no-scroll {
  overflow: hidden;
}

.sidebar {
  background: linear-gradient(180deg, #ecf39e 0%, #ffffff 100%);
  background-image: url('../assets/fondo-ham.jpg');
  background-position: top center;
  background-size: cover;
  /* background-position-y: 10vh; */
  /* background-repeat: no-repeat; */
}
